#left-pannel {
  padding-top: 20px;
}

#right-pannel {
  background-color: #9d1;
  height: 100vh;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  position: fixed;
  right: 0;
}

#general {
  padding-left: 10px;
  padding-top: 80px;
}

.card {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#right-pannel .card {
  width: 100%;
}
