#left-pannel {
  padding-top: 20px;
}

#general-title {
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(230, 233, 58);
  background-color: rgb(117, 95, 63);
}

#right-pannel {
  background-color: #e4e4e4;
  height: 100vh;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  position: fixed;
  right: 0;
}

#general {
  padding-left: 10px;
}

.card {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

.card-text,
.card-body h5 {
  font-size: 1.5em;
}

#right-pannel .card {
  width: 100%;
}

.text-center img {
  min-height: 18vh;
  width: auto;
}
