#left-pannel {
  padding-top: 2em;
  padding-right: 2em;
  margin: auto;
  max-height: 80vh;
  overflow-y: scroll;
}

#left-pannel::-webkit-scrollbar {
  display: none;
}

#general-title {
  position: relative;
  padding-top: 2em;
  height: 8em;
  color: rgb(230, 233, 58);
  background-color: rgb(117, 95, 63);
}

#right-pannel {
  background-color: #e4e4e4;
  height: auto;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  /* position: fixed; */
  right: 0;
}

#general {
  padding-left: 10px;
}

.searchRow {
  margin-bottom: 1em;
}

.card {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  background-color: rgb(8, 37, 41);
  color: white;
}

.card-text,
.card-body h5 {
  font-size: 1.5em;
}

#right-pannel {
  padding: 2em;
}

#right-pannel .card {
  width: 100%;
}

.text-center img {
  min-height: 18vh;
  width: auto;
}

.pname {
  color: beige;
  font-weight: bold;
}

#busqueda {
  margin-bottom: 1em;
}
