#left-pannel {
  padding-top: 20px;
}

#right-pannel {
  background-color: rgb(235, 173, 4);
  height: 100vh;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  position: fixed;
  right: 0;
}

#general {
  padding-left: 10px;
  padding-top: 80px;
}

.card {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

#right-pannel .card {
  width: 100%;
}

.text-center img {
  min-width: 15vh;
  height: auto;
}
