.carousel-var {
  position: relative;
  background-color: #ac7124;
  width: 100%;
  height: 4rem;
  display: flex;
  overflow-x: auto;
}

.carousel-var::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  animation: spin 25s infinite linear;
  padding-right: 1em;
}

.carCard {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

.carCard img {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
